/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* See https://github.com/fred-wang/mathml.css */

/* math */
body[waline-math] .v math {
  font-family: Cambria Math, Latin Modern Math;
  display: inline;
  text-indent: 0;
}
body[waline-math] .v math[display='block'] {
  display: block;
  text-align: center;
}

/* fraction */
body[waline-math] .v mfrac {
  display: inline-block !important;
  vertical-align: -50%;
  border-collapse: collapse;
  text-align: center;
}
body[waline-math] .v mfrac > * {
  display: block !important;
}
body[waline-math] .v mfrac > * + * {
  display: inline-block !important;
  vertical-align: top;
}
body[waline-math] .v mfrac:not([linethickness='0']) > *:first-child {
  border-bottom: solid thin;
}

/* sub/sup scripts */
body[waline-math] .v msub > *:nth-child(2),
body[waline-math] .v msubsup > *:nth-child(2),
body[waline-math] .v mmultiscripts > *:nth-child(2n + 2),
body[waline-math] .v mmultiscripts > mprescripts ~ *:nth-child(2n + 3) {
  font-size: 0.8em;
  vertical-align: sub;
}
body[waline-math] .v msup > *:nth-child(2),
body[waline-math] .v msubsup > *:nth-child(3),
body[waline-math] .v mmultiscripts > *:nth-child(2n + 3),
body[waline-math] .v mmultiscripts > mprescripts ~ *:nth-child(2n + 2) {
  font-size: 0.8em;
  vertical-align: super;
}
body[waline-math] .v mprescripts:after {
  content: ';';
}

/* under/over scripts */
body[waline-math] .v munder,
mover,
munderover {
  display: inline-flex !important;
  flex-direction: column;
}
body[waline-math] .v munder > *:nth-child(2),
munderover > *:nth-child(2) {
  font-size: 0.8em;
  order: +1;
}
body[waline-math] .v mover > *:nth-child(2),
munderover > *:nth-child(3) {
  font-size: 0.8em;
  order: -1;
}
body[waline-math] .v munder {
  vertical-align: text-top;
}
body[waline-math] .v mover {
  vertical-align: text-bottom;
}
body[waline-math] .v munderover {
  vertical-align: middle;
}

/* roots */
body[waline-math] .v msqrt,
mroot {
  display: inline-flex !important;
  margin-left: 0.5em;
  vertical-align: middle;
  border-top: solid thin;
}
body[waline-math] .v msqrt:before,
mroot:before {
  margin-left: -0.5em;
  content: '\221A';
}
body[waline-math] .v mroot > *:nth-child(2) {
  margin-right: 0.25em;
  margin-left: -0.75em;
  font-size: 0.8em;
  order: -1;
}

/* menclose */
body[waline-math] .v menclose {
  display: inline-table !important;
  border-collapse: separate;
  border-spacing: 0.4ex 0;
}
body[waline-math] .v menclose[notation*='top'],
menclose[notation*='actuarial'] {
  border-top: solid thin;
}
body[waline-math] .v menclose[notation*='bottom'],
menclose[notation*='madruwb'] {
  border-bottom: solid thin;
}
menclose[notation*='right'],
menclose[notation*='actuarial'],
body[waline-math] .v menclose[notation*='madruwb'] {
  border-right: solid thin;
}
body[waline-math] .v menclose[notation*='left'] {
  border-left: solid thin;
}
menclose[notation*='box'],
menclose[notation*='roundedbox'],
body[waline-math] .v menclose[notation*='circle'] {
  border: solid thin;
}
body[waline-math] .v menclose[notation*='roundedbox'] {
  border-radius: 15%;
}
body[waline-math] .v menclose[notation*='circle'] {
  border-radius: 50%;
}
body[waline-math] .v menclose[notation*='horizontalstrike'] {
  text-decoration: line-through;
}

/* table */
body[waline-math] .v mtable {
  display: inline-table !important;
  vertical-align: middle;
  text-align: center;
}
body[waline-math] .v mtr {
  display: table-row !important;
}
body[waline-math] .v mtd {
  display: table-cell !important;
  padding: 0 0.5ex;
}

/* token elements */
body[waline-math] .v mspace {
  margin: 0.2em;
}
body[waline-math] .v mi {
  font-style: italic;
}
body[waline-math] .v mo {
  margin-right: 0.2em;
  margin-left: 0.2em;
}
body[waline-math] .v ms:before,
ms:after {
  content: '\0022';
}
body[waline-math] .v ms[lquote]:before {
  content: attr(lquote);
}
body[waline-math] .v ms[rquote]:after {
  content: attr(rquote);
}

/* mathvariants */
body[waline-math] .v [mathvariant='bold'],
body[waline-math] .v [mathvariant='bold-italic'],
body[waline-math] .v [mathvariant='bold-sans-serif'],
[mathvariant='sans-serif-bold-italic'] {
  font-weight: bold;
  font-style: normal;
}
body[waline-math] .v [mathvariant='monospace'] {
  font-family: monospace;
  font-style: normal;
}
body[waline-math] .v [mathvariant='sans-serif'],
body[waline-math] .v [mathvariant='bold-sans-serif'],
body[waline-math] .v [mathvariant='sans-serif-italic'],
body[waline-math] .v [mathvariant='sans-serif-bold-italic'] {
  font-family: sans-serif;
  font-style: normal;
}
body[waline-math] .v [mathvariant='italic'],
body[waline-math] .v [mathvariant='bold-italic'],
body[waline-math] .v [mathvariant='sans-serif-italic'],
[mathvariant='sans-serif-bold-italic'] {
  font-style: italic;
}
body[waline-math] .v [mathvariant='normal'] {
  font-style: normal;
}

/* mphantom */
body[waline-math] .v mphantom {
  visibility: hidden;
}

/* merror */
body[waline-math] .v merror {
  outline: solid thin red;
}
body[waline-math] .v merror:before {
  content: 'Error: ';
}

/* annotations */
body[waline-math] .v semantics > *:first-child {
  display: inline;
}
body[waline-math] .v annotation,
annotation-xml {
  font-family: monospace;
  display: none !important;
}
body[waline-math] .v math:active > semantics > *:first-child,
body[waline-math] .v math:active > semantics > *:first-child {
  display: none !important;
}
body[waline-math] .v math:active annotation:first-of-type {
  display: inline !important;
}
