:root {
  --c-brand: #0e6db1;
  --c-brand-light: #4897cf;

  --waline-theme-color: #0e6db1 !important;
  --waline-active-color: #4897cf !important;
}

html.dark {
  --c-brand: #0e6db1;
  --c-brand-light: #4897cf;

  --c-bg: #1e1e1e;
  --c-bg-light: #272727;
  --c-bg-lighter: #2a2a2a;

  --c-text: #9e9e9e;
}
