:root {
  --waline-theme-color: var(--theme-color) !important;
  --waline-active-color: var(--theme-color-light) !important;
}

html[data-theme='dark'] {
  kbd {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.home .waline-wrapper {
  --waline-accent-color: var(--c-brand, #3eaf7c);
  --waline-text-color: var(--c-text, #2c3e50);
  --waline-active-color: var(--c-brand-light, #4abf8a);
  --waline-border: 1px solid var(--dark-grey);
  --waline-bgcolor: var(--c-bg, #fff);
  --waline-bgcolor-light: var(--c-bg-light, #f3f4f5);
}
