@use 'vuepress-shared/styles/wrapper';

.waline-tips-wrapper:not(.home) {
  @include wrapper.horizontal-wrapper();
}

.waline-tips {
  margin: 1rem auto;
  padding: 10px;
  border-left: 5px solid var(--warning-border-color);
  border-radius: 8px;
  background: var(--warning-bg-color);
  color: var(--warning-text-color);
}
