@use 'vuepress-theme-hope/styles/wrapper';

.waline-tips-wrapper {
  @include wrapper.horizontal-wrapper();

  @media print {
    display: none;
  }
}

.waline-tips {
  margin: 1rem auto;
  padding: 10px;
  border-radius: 8px;
  background: var(--warning-c-soft);
  color: var(--warning-c-text);
}
