html,
body {
  height: 100%;
}

div[tabindex='-1'] {
  height: 100%;
}

.account-item {
  position: relative;
  display: inline-block;
  margin-right: 16px;
}

.account-item .account-unbind svg {
  position: absolute;
  top: -3px;
  right: -3px;

  display: none;

  border: 1px solid #999;
  border-radius: 50%;

  background: #fff;

  cursor: pointer;
}

.account-item:hover .account-unbind svg {
  display: block;
}

.account-item.github path,
.account-item.twitter circle,
.account-item.facebook path,
.account-item.weibo circle,
.account-item.qq path,
.account-item.oidc path,
.account-item.huawei path {
  fill: #808080;
}

.account-item.github:hover path,
.account-item.github.bind path {
  fill: #1b1f23;
}

.account-item.twitter:hover circle,
.account-item.twitter.bind circle {
  fill: #2daae1;
}

.account-item.facebook:hover path,
.account-item.facebook.bind path {
  fill: #1877f2;
}

.account-item.weibo:hover circle,
.account-item.weibo.bind circle {
  fill: #d34237;
}

.account-item.qq:hover path,
.account-item.qq.bind path {
  fill: #259be0;
}

.account-item.oidc:hover path,
.account-item.oidc.bind path {
  fill: #ff9626;
}

.account-item.huawei:hover path,
.account-item.huawei.bind path {
  fill: #f00;
}

.user-page-account-item {
  margin-right: 6px;
  opacity: 0.5;

  &.bind {
    opacity: 1;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

// remain for historical reasons
.vemoji,
.wl-emoji {
  display: inline-block;
  vertical-align: middle;
  width: 1.3rem;
  margin: 0.25rem;
}

.social-accounts a + a {
  margin-left: 16px;
}

.upgrade-tips {
  padding: 0 10px;
  border-bottom: 1px solid rgb(212 167 44 / 40%);

  background: #fff8c5;
  color: #24292f;

  line-height: 36px;
}

.typecho-pager button {
  display: block;

  padding: 0 10px;
  border: none;
  border-radius: 2px;

  background: none;
  color: inherit;

  font: inherit;

  cursor: pointer;
}

.typecho-pager button:hover {
  background: #e9e9e6;
  text-decoration: none;
}

.typecho-pager li.current button {
  background: #e9e9e6;
  color: #444;
}

.typecho-head-nav .operate button {
  display: inline-block;

  margin-left: -1px;
  padding: 0 20px;
  border: 1px solid #383d45;
  border-width: 0 1px;

  background: none;
  color: #bbb;

  font: inherit;
  line-height: 36px;

  cursor: pointer;
}

.typecho-head-nav .operate button:hover {
  background-color: #202328;
  color: #fff;
}

.dropdown-menu button {
  display: block;

  width: 100%;
  padding: 5px 12px;
  border: none;

  background: none;
  color: #666;

  font: inherit;
  text-align: left;

  cursor: pointer;
}

.dropdown-menu button:hover {
  background: #f6f6f3;
  text-decoration: none;
}

button.operate-delete,
button.operate-button-delete {
  color: #b94a48;
}

button.operate-edit {
  color: #070;
}

button.operate-reply {
  color: #545c30;
}

.typecho-list-operate button:hover {
  text-decoration: none;
}

.account-unbind {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.profile-avatar-btn {
  display: block;

  padding: 0;
  border: none;

  background: none;

  cursor: pointer;
}
