.v[data-class='v'] {
  .vleft {
    float: left;
    text-align: center;
    margin-right: 0.7525em;
  }

  .vright {
    overflow: hidden;
  }

  .vinput {
    color: #555;
    border: none;
    resize: none;
    outline: none;
    padding: 10px 5px;
    max-width: 100%;
    font-size: 0.775em;
  }

  .vicon {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    fill: #555;
    vertical-align: middle;

    & + .vicon {
      margin-left: 10px;
    }

    &.actived {
      fill: #66b1ff;
    }
  }

  .vrow {
    font-size: 0;
    padding: 10px 0;

    .vcol {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;

      &.vcol-20 {
        width: 20%;
      }

      &.vcol-30 {
        width: 30%;
      }

      &.vcol-40 {
        width: 40%;
      }

      &.vcol-50 {
        width: 50%;
      }

      &.vcol-60 {
        width: 60%;
      }

      &.vcol-70 {
        width: 70%;
      }

      &.vcol-80 {
        width: 80%;
      }

      &.vctrl {
        font-size: 12px;
      }
    }
  }

  .emoji,
  .vemoji {
    max-width: 25px;
    vertical-align: middle;
    margin: 0 1px;
    display: inline-block;
  }

  .vspinner {
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 6px double #a0a0a0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    position: relative;
    vertical-align: middle;
    margin: 0 5px;
  }
}
