.v[data-class='v'] {
  .vicon {
    display: inline-block;
    vertical-align: middle;

    overflow: hidden;

    cursor: pointer;
    fill: var(--waline-text-color);

    &.actived {
      fill: var(--waline-active-color);
    }
  }

  .vicon + .vicon {
    margin-left: 10px;
  }

  .vrow {
    padding: 10px 0;
    font-size: 0;

    .vcol {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;

      &.vcol-20 {
        width: 20%;
      }

      &.vcol-30 {
        width: 30%;
      }

      &.vcol-40 {
        width: 40%;
      }

      &.vcol-50 {
        width: 50%;
      }

      &.vcol-60 {
        width: 60%;
      }

      &.vcol-70 {
        width: 70%;
      }

      &.vcol-80 {
        width: 80%;
      }

      &.vctrl {
        font-size: 12px;
      }
    }
  }

  .emoji,
  .vemoji {
    display: inline-block;
    vertical-align: middle;
    max-width: 25px;
    margin: 0 1px;
  }

  .vspinner {
    text-align: center;

    i {
      position: relative;

      display: inline-block;
      vertical-align: middle;

      width: 22px;
      height: 22px;
      margin: 0 5px;
      border: 6px double #a0a0a0;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 50%;

      animation: spin 1s infinite linear;
    }
  }
}
