.wl-cards {
  .wl-item {
    position: relative;
    display: flex;
    padding: 0.5em;

    &:last-child .wl-card {
      border-bottom: none;
    }
  }

  .wl-card {
    .wl-item {
      padding-right: 0;
    }
  }

  .wl-user {
    --avatar-size: var(--waline-avatar-size);

    @media (max-width: 720px) {
      --avatar-size: var(--waline-m-avatar-size);
    }

    position: relative;
    margin-right: 0.75em;

    img {
      width: var(--avatar-size);
      height: var(--avatar-size);
      border-radius: var(--waline-avatar-radius);
      box-shadow: var(--waline-box-shadow);
    }

    .verified-icon {
      position: absolute;
      top: calc(var(--avatar-size) * 3 / 4);
      left: calc(var(--avatar-size) * 3 / 4);

      border-radius: 50%;

      background: var(--waline-bgcolor);
      box-shadow: var(--waline-box-shadow);
    }
  }
}

.wl-card {
  flex: 1;
  width: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px dashed var(--waline-border-color);

  &:first-child {
    margin-left: 1em;
  }

  .wl-head {
    line-height: 1.5;
  }

  .wl-nick {
    position: relative;

    display: inline-block;

    margin-right: 0.5em;

    font-weight: bold;
    font-size: 0.875em;
    line-height: 1;
    text-decoration: none;

    svg {
      position: relative;
      bottom: -0.125em;
      line-height: 1;
    }
  }

  span.wl-nick {
    color: var(--waline-dark-grey);
  }

  .wl-badge {
    display: inline-block;

    margin-right: 0.5em;
    padding: 0 0.3em;
    border-radius: 3px;

    background: var(--waline-badge-color);
    color: var(--waline-white);

    font-size: var(--waline-badge-font-size);
  }

  .wl-time {
    margin-right: 0.875em;
    color: var(--waline-info-color);
    font-size: 0.75em;
  }

  .wl-reply {
    float: right;

    padding: 4px;
    border: none;

    background: transparent;
    color: var(--waline-color);

    line-height: 1;

    cursor: pointer;

    transition: color 0.2s ease;

    &:hover {
      color: var(--waline-theme-color);
    }

    &.active {
      color: var(--waline-active-color);
    }
  }

  .wl-meta {
    position: relative;
    line-height: 1;

    > span {
      display: inline-block;

      margin-right: 0.25em;
      padding: 2px 4px;
      border-radius: 0.2em;

      background: var(--waline-info-bgcolor);
      color: var(--waline-info-color);

      font-size: var(--waline-info-font-size);
      line-height: 1.5;

      @media (max-width: 520px) {
        display: none;
      }

      &:empty {
        display: none;
      }
    }
  }

  .wl-content {
    position: relative;

    margin-bottom: 0.75em;
    padding-top: 0.625em;

    font-size: 0.875em;
    line-height: 2;
    word-wrap: break-word;

    &.expand {
      overflow: hidden;
      max-height: 8em;
      cursor: pointer;

      &::before {
        content: '';

        position: absolute;
        top: 0;
        bottom: 3.15em;
        left: 0;
        z-index: 999;

        display: block;

        width: 100%;

        background: linear-gradient(180deg, #000, rgb(255 255 255 / 90%));
      }

      &::after {
        content: attr(data-expand);

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 999;

        display: block;

        width: 100%;
        height: 3.15em;

        background: rgb(255 255 255 / 90%);
        color: #828586;

        line-height: 3.15em;
        text-align: center;
      }
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .wl-quote {
    border-left: 1px dashed rgb(237 237 237 / 50%);

    .wl-user {
      --avatar-size: var(--waline-m-avatar-size);
    }
  }
}
