:root {
  // regular colors
  --waline-white: #fff;
  --waline-light: #f8f8f8;
  --waline-light-grey: #999;
  --waline-dark-grey: #666;

  // theme colors
  --waline-theme-color: #1abc9c;
  --waline-active-color: #eb5055;

  // layout colors
  --waline-text-color: #555;
  --waline-border-color: #f0f0f0;

  // special colors
  --waline-badge-color: #2196f3;
  --waline-info-color: #f0f0f0;
  --waline-time-color: #b3b3b3;
}
