:root {
  // font-size
  --waline-font-size: 16px;

  // regular colors
  --waline-white: #fff;
  --waline-light: #f8f8f8;
  --waline-light-grey: #999;
  --waline-dark-grey: #666;

  // theme colors
  --waline-theme-color: #1abc9c;
  --waline-active-color: #eb5055;

  // layout colors
  --waline-text-color: #444;
  --waline-border-color: #ddd;
  --waline-disable-bgcolor: #fafafa;
  --waline-disable-color: #e1e1e1;
  --waline-box-shadow: 0px 12px 40px rgb(134 151 168 / 25%);

  // special colors
  --waline-bq-color: #f0f0f0;
  --waline-badge-color: #2196f3;
  --waline-info-bgcolor: #f8f8f8;
  --waline-info-color: #999;
}
