:root {
  // font-size
  --waline-font-size: 16px;

  // regular colors
  --waline-white: #fff;
  --waline-bgcolor: #fff;
  --waline-bgcolor-light: #f8f8f8;
  --waline-light-grey: #999;
  --waline-dark-grey: #666;

  // theme colors
  --waline-theme-color: #27ae60;
  --waline-active-color: #2ecc71;

  // layout colors
  --waline-text-color: #444;
  --waline-border-color: #ddd;
  --waline-disable-bgcolor: #f8f8f8;
  --waline-disable-color: #ddd;

  // ====render choises====

  //   ** using border **
  --waline-border: 1px solid var(--waline-border-color);
  --waline-box-shadow: none;

  // ** using box-shadow **
  // --waline-border: none;
  // --waline-box-shadow: 0 12px 40px rgb(134 151 168 / 25%);
  // Dark: --waline-box-shadow: 0 12px 40px #0f0e0d

  // special colors
  --waline-bq-color: #f0f0f0;
  --waline-badge-color: #3498db;
  --waline-info-bgcolor: #f8f8f8;
  --waline-info-color: #999;
}
