.dark .v[data-class='v'] .status-bar,
.dark .v[data-class='v'] .veditor,
.dark .v[data-class='v'] .vinput,
.dark .v[data-class='v'] p,
.dark .v[data-class='v'] pre code,
.night .v[data-class='v'] .status-bar,
.night .v[data-class='v'] .veditor,
.night .v[data-class='v'] .vinput,
.night .v[data-class='v'] p,
.night .v[data-class='v'] pre code,
.theme__dark .v[data-class='v'] .status-bar,
.theme__dark .v[data-class='v'] .veditor,
.theme__dark .v[data-class='v'] .vinput,
.theme__dark .v[data-class='v'] p,
.theme__dark .v[data-class='v'] pre code,
[data-theme='dark'] .v[data-class='v'] .status-bar,
[data-theme='dark'] .v[data-class='v'] .veditor,
[data-theme='dark'] .v[data-class='v'] .vinput,
[data-theme='dark'] .v[data-class='v'] p,
[data-theme='dark'] .v[data-class='v'] pre code {
  color: #b2b2b5;
}

.dark .v[data-class='v'] .vsys,
.dark .v[data-class='v'] .vtime,
.night .v[data-class='v'] .vsys,
.night .v[data-class='v'] .vtime,
.theme__dark .v[data-class='v'] .vsys,
.theme__dark .v[data-class='v'] .vtime,
[data-theme='dark'] .v[data-class='v'] .vsys,
[data-theme='dark'] .v[data-class='v'] .vtime {
  color: #929298;
}

.dark .v[data-class='v'] code,
.dark .v[data-class='v'] pre,
.dark .v[data-class='v'] pre code,
.night .v[data-class='v'] code,
.night .v[data-class='v'] pre,
.night .v[data-class='v'] pre code,
.theme__dark .v[data-class='v'] code,
.theme__dark .v[data-class='v'] pre,
.theme__dark .v[data-class='v'] pre code,
[data-theme='dark'] .v[data-class='v'] code,
[data-theme='dark'] .v[data-class='v'] pre,
[data-theme='dark'] .v[data-class='v'] pre code {
  color: #929298;
  background-color: #151414;
}

.dark .v[data-class='v'] .vwrap,
.night .v[data-class='v'] .vwrap,
.theme__dark .v[data-class='v'] .vwrap,
[data-theme='dark'] .v[data-class='v'] .vwrap {
  border-color: #b2b2b5;
}

.dark .v[data-class='v'] .vicon,
.night .v[data-class='v'] .vicon,
.theme__dark .v[data-class='v'] .vicon,
[data-theme='dark'] .v[data-class='v'] .vicon {
  fill: #b2b2b5;
}

.dark .v[data-class='v'] .vicon.actived,
.night .v[data-class='v'] .vicon.actived,
.theme__dark .v[data-class='v'] .vicon.actived,
[data-theme='dark'] .v[data-class='v'] .vicon.actived {
  fill: #66b1ff;
}

.dark .v[data-class='v'] .vbtn,
.night .v[data-class='v'] .vbtn,
.theme__dark .v[data-class='v'] .vbtn,
[data-theme='dark'] .v[data-class='v'] .vbtn {
  color: #b2b2b5;
  border-color: #b2b2b5;
}

.dark .v[data-class='v'] .vbtn:hover,
.night .v[data-class='v'] .vbtn:hover,
.theme__dark .v[data-class='v'] .vbtn:hover,
[data-theme='dark'] .v[data-class='v'] .vbtn:hover {
  color: #66b1ff;
  border-color: #66b1ff;
}

.dark .v[data-class='v'] a:hover,
.night .v[data-class='v'] a:hover,
.theme__dark .v[data-class='v'] a:hover,
[data-theme='dark'] .v[data-class='v'] a:hover {
  color: #d7191a;
}

.dark .v[data-class='v'] .vcards .vcard .vcontent.expand:before,
.night .v[data-class='v'] .vcards .vcard .vcontent.expand:before,
.theme__dark .v[data-class='v'] .vcards .vcard .vcontent.expand:before,
[data-theme='dark'] .v[data-class='v'] .vcards .vcard .vcontent.expand:before {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.3)),
    to(rgba(0, 0, 0, 0.7))
  );
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.dark .v[data-class='v'] .vcards .vcard .vcontent.expand:after,
.night .v[data-class='v'] .vcards .vcard .vcontent.expand:after,
.theme__dark .v[data-class='v'] .vcards .vcard .vcontent.expand:after,
[data-theme='dark'] .v[data-class='v'] .vcards .vcard .vcontent.expand:after {
  background: rgba(0, 0, 0, 0.7);
}
