@mixin emoji() {
  .vemoji-popup {
    position: absolute;
    top: 100%;
    left: 1.25em;
    z-index: 10;

    max-width: 526px;
    border: var(--waline-border);
    border-radius: 6px;

    background: var(--waline-bgcolor);
    box-shadow: var(--waline-box-shadow);

    button {
      display: inline-block;
      vertical-align: middle;
      background: transparent;

      width: 2em;
      margin: 0.125em;
      padding: 0;
      border-width: 0;

      font-size: inherit;
      line-height: 2;
      text-align: center;

      cursor: pointer;

      &:hover {
        background: var(--waline-bgcolor-hover);
      }
    }

    .vemoji {
      display: inline-block;
      vertical-align: middle;
      max-width: 1.5em;
      max-height: 1.5em;
    }

    .vtab-wrapper {
      max-height: 145px;
      overflow-y: auto;
      padding: 0.5em;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-track-piece:vertical {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: rgba(0, 0, 0, 0.1);
      }

      &::-webkit-scrollbar-thumb:vertical {
        width: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: var(--waline-theme-color);
      }
    }

    .vtabs {
      position: relative;
      height: 2em;
      padding: 0 6px;

      &::before {
        content: ' ';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        background: var(--waline-border-color);
      }
    }

    .vtab {
      position: relative;
      margin: 0;
      padding: 0 0.5em;

      &.active {
        z-index: 3;
        background: var(--waline-bgcolor);
        border: 1px solid var(--waline-border-color);
        border-top-width: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}
