.wl-gif-popup {
  position: absolute;
  top: 100%;
  left: 1.25em;
  z-index: 10;

  width: calc(100% - 3em);
  padding: 0.75em 0.75em 0.25em;
  border: var(--waline-border);
  border-radius: 6px;

  background: var(--waline-bgcolor);
  box-shadow: var(--waline-box-shadow);

  opacity: 0;
  visibility: hidden;

  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transform: scale(0.9, 0.9);
  transform-origin: 0 0;

  &.display {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  input {
    box-sizing: border-box;

    width: 100%;
    margin-bottom: 10px;
    padding: 3px 5px;
    border: var(--waline-border);
  }

  img {
    display: block;

    box-sizing: border-box;

    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;

    cursor: pointer;

    &:hover {
      border-color: var(--waline-theme-color);
      border-radius: 2px;
    }
  }
}

.wl-gallery {
  max-height: 80vh;
  display: flex;
  overflow-y: auto;
}

.wl-gallery-column {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;

  flex: 1;
  display: flex;
  flex-direction: column;
}
