.wl-comment-highlight {
  padding-bottom:2px;
  border-bottom:2px solid #f8e6ab;
}

.wl-cthl-overlay-wrapper {
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(31,35,41,0.1);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid rgb(222,224,227);
  padding: 8px;
  position: absolute;
  background: #FFF;
  
  svg {
    width: 18px;
    height: 18px;
  }
}

.wl-cthl-menu-item {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgba(31,35,41,.1);
  }
}

.wl-cthl-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 294px;
  min-height: 100%;
  border-left: 1px solid #dee0e3;
  z-index: 1;
  background-color: #FFF;
  transition: transform 0.3s ease 0s;
  visibility: visible;
  transform: translateX(0px);
  display: block;

  &_header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
    padding: 8px 16px;
    position: sticky;
    top: 0px;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #dee0e3;
    transform: translateZ(1px);
    user-select: none;
    box-sizing: border-box;
    background-color: #FFF;
    z-index: 1;
  }

  &_close {
    padding: 0 10px;
    cursor: pointer;
  }


  &_body {
    padding: 12px 12px 96px 12px;
  }

  & .wl-user,
  & .wl-badge,
  & .wl-meta,
  & .wl-comment-actions {
    display: none !important;
  }

  & .wl-quotes {
    border-inline-start: none !important;
  }

  & .wl-card {
    border: none !important;
  }

  & .wl-content {
    margin-bottom: 0;
    padding-top: 0;
  }

  & .wl-cards > .wl-card-item {
    line-height: 1.5;
    border-radius: 6px;
    background-color: #FFF;
    border: 1px solid #dee0e3;
    cursor: pointer;

    & + .wl-card-item {
      margin-top: 15px;
    }
  }
}