.v[data-class='v'] {
  .vcontent {
    .vemoji {
      display: inline-block;
      vertical-align: middle;
      width: 1.25em;
      margin: 0.25em;
    }
  }

  .vcount {
    padding: 0.375em;
    font-weight: bold;
    font-size: 1.25em;
  }

  .vempty {
    overflow: auto;
    padding: 1.25em;
    color: var(--waline-text-color);
    text-align: center;
  }

  .vmore {
    text-align: center;

    button {
      margin: 1em 0;
    }
  }

  .vpower {
    padding: 0.5em 0;
    color: var(--waline-light-grey);
    font-size: var(--waline-info-font-size);
    text-align: right;
  }
}
