.wl-close-icon {
  color: var(--waline-border-color);
}

.wl-content {
  // remain for historical reasons
  .vemoji,
  .wl-emoji {
    display: inline-block;
    vertical-align: middle;
    width: 1.25em;
    margin: 0.25em;
  }

  .wl-tex {
    background: var(--waline-info-bgcolor);
    color: var(--waline-info-color);
  }

  span.wl-tex {
    display: inline-block;

    margin-right: 0.25em;
    padding: 2px 4px;
    border-radius: 0.2em;

    font-size: var(--waline-info-font-size);
    line-height: 1.5;
  }

  p.wl-tex {
    text-align: center;
  }

  // katex support
  .katex-display {
    overflow: auto hidden;
    -webkit-overflow-scrolling: touch;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    &::-webkit-scrollbar {
      height: 3px;
    }
  }

  .katex-error {
    color: #f00;
  }
}

.wl-count {
  padding: 0.375em;
  font-weight: bold;
  font-size: 1.25em;
}

.wl-empty {
  overflow: auto;
  padding: 1.25em;
  color: var(--waline-color);
  text-align: center;
}

.wl-operation {
  text-align: center;

  button {
    margin: 1em 0;
  }
}

.wl-power {
  padding: 0.5em 0;
  color: var(--waline-light-grey);
  font-size: var(--waline-info-font-size);
  text-align: right;
}
