.v[data-class='v'] {
  font-size: 16px;
  text-align: left;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.75;
  }

  p {
    color: var(--waline-text-color);
  }

  a {
    position: relative;
    cursor: pointer;
    color: var(--waline-theme-color);
    text-decoration: none;
    display: inline-block;

    &:hover {
      color: var(--waline-active-color);
    }
  }

  img {
    max-width: 100%;
    border: none;
  }

  hr {
    margin: 0.825em 0;
    border-color: var(--waline-light);
    border-style: dashed;
  }

  code,
  pre {
    background-color: var(--waline-light);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
  }

  pre {
    padding: 10px;
    overflow: auto;
    line-height: 1.45;

    code {
      padding: 0;
      color: var(--waline-text-color);
      background: transparent;
      white-space: pre-wrap;
      word-break: keep-all;
    }
  }

  blockquote {
    color: var(--waline-dark-grey);
    margin: 0.5em 0;
    padding: 0 0 0 1em;
    border-left: 8px solid rgba(237, 237, 237, 0.5);
  }

  ol,
  ul {
    padding: 0;
    margin-left: 1.25em;
  }

  input {
    &[type='checkbox'],
    &[type='radio'] {
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
    }
  }
}
