@use 'emoji';

.wl-comment {
  position: relative;
  display: flex;
  margin-bottom: 0.75em;
}

.wl-close {
  position: absolute;
  top: -4px;
  right: -4px;

  padding: 0;
  border: none;

  background: transparent;

  line-height: 1;

  cursor: pointer;
}

.wl-login-info {
  max-width: 80px;
  margin-top: 0.75em;
  text-align: center;
}

.wl-logout-btn {
  position: absolute;
  top: -10px;
  right: -10px;

  padding: 3px;
  border: none;

  background: transparent;

  line-height: 0;

  cursor: pointer;
}

.wl-avatar {
  position: relative;

  width: var(--waline-avatar-size);
  height: var(--waline-avatar-size);
  margin: 0 auto;
  border: var(--waline-border);
  border-radius: var(--waline-avatar-radius);

  @media (max-width: 720px) {
    width: var(--waline-m-avatar-size);
    height: var(--waline-m-avatar-size);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: var(--waline-avatar-radius);
  }
}

.wl-login-nick {
  display: block;
  color: var(--waline-theme-color);
  font-size: 0.75em;
  word-break: break-all;
}

.wl-panel {
  position: relative;

  flex-shrink: 1;

  width: 100%;
  margin: 0.5em;
  border: var(--waline-border);
  border-radius: 0.75em;

  background: var(--waline-bgcolor);
  box-shadow: var(--waline-box-shadow);
}

.wl-header {
  display: flex;

  overflow: hidden;

  padding: 0 4px;
  border-bottom: 2px dashed var(--waline-border-color);
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;

  @media (max-width: 580px) {
    display: block;
  }

  label {
    min-width: 40px;
    padding: 0.75em 0.5em;

    color: var(--waline-color);

    font-size: 0.75em;
    text-align: center;
  }

  input {
    flex: 1;

    width: 0;
    padding: 0.5em;

    background: transparent;

    font-size: 0.625em;

    resize: none;
  }
}

.wl-header-item {
  display: flex;
  flex: 1;

  &:not(:last-child) {
    @media (max-width: 580px) {
      border-bottom: 2px dashed var(--waline-border-color);
    }
  }

  .wl-header-1 & {
    width: 100%;
  }

  .wl-header-2 & {
    width: 50%;

    @media (max-width: 580px) {
      flex: 0;
      width: 100%;
    }
  }

  .wl-header-3 & {
    width: 33.33%;

    @media (max-width: 580px) {
      width: 100%;
    }
  }
}

.wl-editor,
.wl-input {
  max-width: 100%;
  border: none;

  color: var(--waline-color);
  outline: none;

  transition: all 0.25s ease;

  &:focus {
    background: var(--waline-bgcolor-light);
  }
}

.wl-editor {
  position: relative;

  width: calc(100% - 1em);
  min-height: 8.75em;
  margin: 0.75em 0.5em;
  border-radius: 0.5em;

  background: transparent;

  font-size: 0.875em;

  resize: vertical;
}

.wl-preview {
  padding: 0 0.5em 0.5em;

  h4 {
    margin: 0.25em;
    font-weight: bold;
    font-size: 0.9375em;
  }

  .wl-content {
    min-height: 1.25em;
    padding: 0.25em;

    word-break: break-word;
    hyphens: auto;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.wl-footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0.75em;
}

.wl-actions {
  display: flex;
  flex: 2;
  align-items: center;
}

.wl-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 1.5em;
  height: 1.5em;
  margin: 2px;
  padding: 0;
  border: none;

  background: transparent;
  color: var(--waline-color);

  font-size: 16px;

  cursor: pointer;

  &:hover {
    color: var(--waline-theme-color);
  }

  &.actived {
    color: var(--waline-active-color);
  }
}

#wl-image-upload {
  display: none;

  &:focus + label {
    color: var(--waline-color);
  }

  &:focus-visible + label {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

.wl-info {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: flex-end;

  .wl-text-number {
    color: var(--waline-info-color);
    font-size: 0.75em;

    .illegal {
      color: #f00;
    }
  }

  button {
    margin-left: 0.75em;

    svg {
      display: block;
      margin: 0 auto;
      line-height: 18px;
    }
  }
}

@include emoji.emoji;
