.v[data-class='v'] {
  .vpower {
    padding: 0.5em 0;
    color: var(--waline-light-grey);
    font-size: 0.75em;
    text-align: right;

    a {
      font-size: 0.75em;
    }
  }

  .vcount {
    padding: 5px;
    font-weight: 600;
    font-size: 1.25em;
  }

  .veditor {
    width: 100%;
    min-height: 8.75em;

    background: transparent;
    color: var(--waline-text-color);

    font-size: 0.875em;

    resize: vertical;

    transition: all 0.25s ease;
  }

  .vbtn {
    display: inline-block;
    vertical-align: middle;

    margin-bottom: 0;
    padding: 0.5em 1.25em;
    border: 1px solid var(--waline-border-color);
    border-radius: 0.3em;

    background: transparent;
    color: var(--waline-text-color);
    outline: none;

    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition-duration: 0.4s;

    touch-action: manipulation;

    &:active,
    &:hover {
      border-color: var(--waline-theme-color);
      color: var(--waline-theme-color);
    }

    &:disabled {
      border-color: #e1e1e1;
      background: #fdfafa;
      color: #e1e1e1;
      cursor: not-allowed;
    }
  }

  .vbtn + .vbtn {
    margin-left: 1.25em;
  }

  .vempty {
    overflow: auto;
    padding: 1.25em;
    color: var(--waline-text-color);
    text-align: center;
  }

  .vsys {
    display: inline-block;

    margin-right: 0.3em;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;

    background: var(--waline-info-bgcolor);
    color: var(--waline-info-color);

    font-size: 0.75em;

    @media (max-width: 520px) {
      display: none;
    }

    &:empty {
      display: none;
    }
  }

  .vcards {
    width: 100%;
  }

  .vcard {
    position: relative;
    display: block;
    padding-top: 1.25em;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .vimg {
      float: left;

      width: 3.125em;
      height: 3.125em;
      margin-right: 0.7525em;
      padding: 0.125em;
      border: 1px solid var(--waline-border-color);
      border-radius: 50%;

      @media (max-width: 720px) {
        width: 2.5em;
        height: 2.5em;
      }
    }

    .vhead {
      margin-top: 0;
      line-height: 1.5;

      .vnick {
        position: relative;

        display: inline-block;

        margin-right: 0.875em;

        font-weight: 500;
        font-size: 0.875em;
        text-decoration: none;

        cursor: pointer;

        &:hover {
          color: var(--waline-active-color);
        }
      }

      .vmark {
        display: inline-block;

        margin-right: 0.875em;
        padding: 0 0.3em;
        border-radius: 3px;

        background: var(--waline-badge-color);
        color: var(--waline-white);

        font-size: 0.775em;
        text-decoration: none;

        cursor: pointer;
      }
    }

    .vh {
      overflow: hidden;
      padding-bottom: 0.5em;
      border-bottom: 1px dashed var(--waline-border-color);

      .vmeta {
        position: relative;
        line-height: 1;
      }

      .vtime {
        margin-right: 0.875em;
        color: var(--waline-time-color);
        font-size: 0.75em;
      }

      .vat {
        float: right;
        color: var(--waline-theme-color);
        font-size: 0.8125em;
        cursor: pointer;
      }
    }

    &:last-child .vh {
      border-bottom: none;
    }

    .vcontent {
      position: relative;

      margin-bottom: 0.75em;
      padding-top: 0.625em;

      font-size: 0.875em;
      line-height: 2;
      word-wrap: break-word;
      word-break: break-all;

      &.expand {
        overflow: hidden;
        max-height: 8em;
        cursor: pointer;

        &::before {
          content: '';

          position: absolute;
          top: 0;
          bottom: 3.15em;
          left: 0;
          z-index: 999;

          display: block;

          width: 100%;

          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#000),
            to(rgba(255, 255, 255, 0.9))
          );
          background: linear-gradient(180deg, #000, rgba(255, 255, 255, 0.9));
        }

        &::after {
          content: attr(data-expand);

          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 999;

          display: block;

          width: 100%;
          height: 3.15em;

          background: rgba(255, 255, 255, 0.9);
          color: #828586;

          line-height: 3.15em;
          text-align: center;
        }
      }
    }

    .vquote {
      padding-left: 1em;
      border-left: 1px dashed rgba(237, 237, 237, 0.5);

      .vimg {
        width: 2.225em;
        height: 2.225em;
      }
    }
  }

  .vpage {
    text-align: center;

    .vmore {
      margin: 1em 0;
    }
  }

  .vlogin-btn {
    display: block;

    width: 3.572em;
    height: 3.572em;
    border: 1px dashed var(--waline-border-color);
    border-radius: 50%;

    color: var(--waline-text-color);

    font-size: 14px;
    line-height: 3.572em;
    text-align: center;
  }

  .vlogin-avatar {
    position: relative;

    .vimg {
      margin-right: 0;
    }
  }

  .vlogin-logout-btn {
    position: absolute;
    top: -3px;
    right: 3px;

    border: 1px solid var(--waline-border-color);
    border-radius: 50%;

    background: var(--waline-white);

    font-size: 14px;
    line-height: 0;
  }

  .vlogin-nick {
    color: var(--waline-theme-color);
    font-size: 12px;
  }
}
