name: Test

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        node-version:
          - 20
          - 22
          - 24
        os:
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Package Build Test
        run: pnpm build

      - name: Linter test
        run: pnpm lint

      - name: Unit test
        run: pnpm test

      - name: Docs Build Test
        run: pnpm docs:build
